{% extends 'base_home.html.twig' %}


{% block title %}Edit Animal{% endblock %}

{% block body %}
<div class="container" style="padding-top: 220px;">
    <h1 class="animal-heading">Editer un Animal</h1>

    {{ include('animal/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_animal_index') }}" class="button button4">Back to List</a>


{% endblock %}
