{% extends 'base.html.twig' %}

{% block title %}New Produit{% endblock %}

{% block body %}
<div class="container mt-3" style=" width:40%; ">
    <h1>Ajouter un  Produit</h1>

    {{ include('produit/_form.html.twig') }}

    <a href="{{ path('app_produit_index') }}">retour a la liste </a>
    </div>
{% endblock %}
